/* Active Sidebar Link */
.sb-sidenav .nav-link.active {
    background-color: #000000;
    color: #fff;
    font-weight: 600;
    border-left: 4px solid #e60b0b;
}

.sb-sidenav .nav-link.active .sb-nav-link-icon i {
    color: #fff;
}
